h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 1px;
}

.title {
  margin-top: 10px;
}

.year{
  font-size: 20px;
}

.city {
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image {

  width: 25%;
  height: 25%;
  margin: 1px 0px;
  padding: 1px;

}